/* --------------------------------------------------------------
   Nails. Admin Print Styles
-------------------------------------------------------------- */
//  Variables & mixins
@import 'admin/core/variables';
@import 'admin/core/mixins';

//  Print styles should basically just hide everything but the main content
//  then style the main content so it prints nicely (it should do a vaguely
//  good job of that already.

div.header,
div.sidebar {
    display: none;
}

div.content {
    width: 100%;
    float: none;
    font-family: helvetica, arial, sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    position: relative;
    left: 0;
    top: 0;
    * {
        float: none;
    }
    .content_inner {
        padding: 20px;
        h1 {
            margin-bottom: 1.75em;
            font-style: italic;
        }
        hr {
            border: none;
            border-top: 1px solid #ccc;
        }
        section.filter-box {
            display: none;
        }
        fieldset {
            border: 1px solid #ccc;
            padding: 10px;
            @include rounded(4px);
            margin-bottom: 20px;
            legend {
                display: block;
                border-bottom: 1px dotted #ccc;
                padding: 20px 10px;
                margin-bottom: 20px;
                font-size: 1.5em;
            }
        }
        div.field {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            label {
                display: block;
            }
            .label {
                display: block;
                width: 125px;
                font-weight: bold;
                padding-bottom: 5px;
            }
            input[type=text],
            input[type=password],
            textarea,
            select {
                padding: 7px;
                border: 1px solid #ccc;
                display: block;
                width: 100%;
                margin-left: -7px;
            }
            input[type=file],
            input[type=submit] {
                display: none;
            }
            .help {
                display: none;
            }
        }
        .awesome {
            display: none;
        }
        table {
            width: 100%;
            thead {
                tr {
                    th {
                        font-wight: bold;
                        font-size: 1.2em;
                        border-bottom: 1px solid #ccc;
                        padding: 10px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border-bottom: 1px solid #ccc;
                        border-right: 1px solid #fafafa;
                        padding: 10px;
                    }
                    td.label {
                        width: 150px;
                        font-weight: bold;
                        border-right: 1px solid #ccc;
                        text-align: right;
                    }
                }
            }
        }
        > footer {
            display: none;
        }
    }
}
