form {
    width: 100%;
}

fieldset {
    height: auto;
    border: 1px solid #cccccc;
    border-radius: 3px 3px 0 0;
    padding: 0;
    position: relative;
    background: #ffffff;
    padding-top: 29px;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 1em;

    fieldset {
        margin: 1em;
    }

    .fieldset-toggle {
        position: absolute;
        right: 10px;
        top: -11px;
        border: 1px solid #cccccc;
        font-size: 0.8em;
        background: #efefef;
        text-decoration: none;
        padding: 3px 4px;
        display: block;
        @include rounded(5px);
        line-height: 1em;

        .show {
            display: none;
        }

        .hide {
            display: block;
        }
    }

    .fieldset-toggle:hover {
        background: #cccccc;
    }

    legend,
    .legend {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        background: #efefef;
        border: 1px solid #cccccc;
        padding: 3px 10px;
        background-clip: padding-box;
        width: auto;
        border-radius: 3px 3px 0 0;
        font-weight: bold;

        * {
            font-weight: inherit;
        }

        select {
            font-weight: normal;
        }

        .btn {
            &.pull-right {
                margin-right: -7px;
            }
        }

    }

    table {
        border: 0;
        margin: 0;

        th.label,
        td.label {
            font-weight: bold;
            width: 125px;
            text-align: right;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    > p, > .alert, > .alert, > .padded, > ul {
        margin: 1em;

        & + & {
            margin-top: 0;
        }
    }

    &.closed {
        height: 0;
        overflow: hidden;

        * {
            @include opacity(0);
        }

        legend {
            top: 2px;
            @include opacity(1);
            border: 0;
            @include drop-shadow(0, 0, 0, 0);
        }

        .fieldset-toggle {
            top: 6px;
            @include opacity(1);

            .show {
                display: block;
                @include opacity(1);
            }

            .hide {
                display: none;
            }
        }
    }
}

div.field {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #efefef;
    clear: both;
    min-height: 30px;
    background: #ffffff;

    &.checkbox,
    &.radio {
        .input {
            padding-left: 14px;
        }
    }

    &.checkbox,
    &.radio {
        margin-top: 0; // Fix for bootstraps .checkbox + .checkbox
        .input {
            padding-left: 14px;
        }
    }

    &.boolean.toggled {
        .input {
            padding-left: 0;
        }
    }

    label {
        display: block;
        width: 100%;
        padding: 0;
    }

    //  So tips are always the same colour - badly designed form helper
    .tip {
        color: #747a90;
    }

    span {
        &.label {
            display: block;
            float: left;
            width: 130px;
            font-weight: bold;
            margin-right: 20px;
            text-align: right;
            margin-top: 5px;
            padding-right: 15px;
            vertical-align: top;

            small {
                display: block;
                font-weight: normal;
            }
        }

        &.input {
            border: 1px dashed transparent; //  Don't ask me why this is required, but it is. - Pablo.
            display: block;
            margin-left: 149px;
            position: relative;

            &.is-disabled {
                color: #cccccc;
            }

            &.with-tip {
                padding-right: 25px;

                .tip {
                    position: absolute;
                    right: 0;
                    top: 9px;
                }
            }

            &:after {
                float: none;
                clear: both;
                content: ' ';
                position: relative;
                display: block;
            }

            input[type=text],
            input[type=password],
            input[type=email],
            input[type=number],
            input[type=url],
            input[type=color],
            input[type=file],
            input[type=time],
            textarea,
            select {
                float: none;
                display: block;
                box-sizing: border-box;
                width: 100%;
                margin: 0;

                & + input[type=text],
                & + input[type=password],
                & + input[type=email],
                & + input[type=number],
                & + input[type=url],
                & + input[type=color],
                & + input[type=file],
                & + input[type=time],
                & + textarea,
                & + select,
                & + .select2
                & + .select2-container {
                    margin-top: 0.5rem;
                }
            }

            small {
                &.info2 {
                    display: block;
                    margin-top: 1em;
                    border-left: 2px solid #a9c5db;
                    padding: 0.1em 0.5em;
                    background: #e4edf5;
                    @include rounded(3px);
                    color: #50606f;

                    strong {
                        color: inherit;
                    }
                }

                &.info {
                    margin-top: 1em;
                    position: relative;
                    display: block;
                    float: left;
                    width: 100%;
                    font-size: 0.85em;

                    strong {
                        color: inherit;
                    }

                    .alert {
                        margin: 0;
                    }
                }
            }

            .alert {
                display: block;
                margin: 0;
                margin-top: 1em;
                padding: 0.5em 0.8em;
            }
        }

        &.text {
            margin-left: 5px;
            position: relative;
            top: 5px;
            display: block;
            float: left;
            width: 100%;
        }

        //  Fixes bug with revealer plugin where the textarea would lose its display: none value on reveal
        &.textarea {
            textarea.wysiwyged {
                display: none !important;
            }
        }

        &.file-download {
            display: block;
            clear: left;
            margin-left: 25%;
            padding: 5px 20px;

            img {
                border: 1px solid #cccccc;
                padding: 2px;
                background: #ffffff;
                @include rounded(2px);
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }

    input[type=file] {
        margin-top: 5px;
    }

    input[type=radio],
    input[type=checkbox] {
        position: relative;
        top: 6px;
        left: 6px;
        float: left;
    }

    table {
        input[type=radio],
        input[type=checkbox] {
            top: 0;
            left: 0;
            float: none;
        }
    }

    select {
        position: relative;
        top: 7px;
    }

    &:after {
        position: relative;
        display: block;
        content: '';
        float: none;
        clear: both;
    }

    &:hover {
        background: #f5f5f5;

        span.label {
            border-color: #cccccc;
        }
    }

    &.even {
        background: #fafafa;

        span.label {
            border-color: #cccccc;
        }

        &:hover {
            background: #f5f5f5;
        }
    }

    &:last-of-type {
        border-bottom: none;
    }

    &.date-picker {
        select {
            width: 116px;
            box-sizing: border-box;
        }
    }

    &.datetime-picker {
        select {
            width: 68px;
            box-sizing: border-box;
        }
    }

    &.boolean {
        .toggle {
            //  width and height set via JS, so that if plugin isnt loaded
            //  or otherwise unavailable, it falls back to a normal checkbox

            text-align: center;
            display: inline-block;
        }

        span.input {
            .tip {
                top: -9px;
                left: 10px;
                position: relative;
            }

            small.info {
                margin-top: 0;
            }
        }
    }

    &.readonly {
        input[type=text],
        input[type=password],
        input[type=email],
        input[type=number],
        input[type=url],
        input[type=color],
        input[type=time],
        textarea {
            cursor: not-allowed;
            padding-left: 30px;
            width: 325px;
            box-sizing: border-box;
        }

        .input {
            &:before {
                font-family: "Font Awesome 5 Free";
                content: '\f023';
                display: block;
                position: absolute;
                left: 9px;
                top: 4px;
                color: #aaaaaa;
            }
        }

        .toggle {
            @include opacity(0.5);

            * {
                cursor: not-allowed;
            }
        }
    }

    &.radio {
        label {
            &:after {
                clear: left;
                display: block;
                content: '';
            }
        }
    }

    &.max-length-exceeded {
        input,
        textarea,
        select,
        .select2-container {
            border: 1px solid #b52130;
        }

        small.char-count {
            color: #b52130;
            padding-left: 16px;
            position: relative;

            &:before {
                font-family: "Font Awesome 5 Free";
                content: '\f057';
                display: block;
                position: absolute;
                top: -4px;
                color: #b52130;
            }
        }
    }

    &.error {
        span.input {
            input,
            textarea,
            select,
            .select2-container {
                border: 1px solid #b52130;
            }

            .select2-container {
                input {
                    border: none;
                }
            }

            .alert-danger {
                padding-left: 30px;
                position: relative;

                &:before {
                    font-family: "Font Awesome 5 Free";
                    content: '\f057';
                    display: block;
                    position: absolute;
                    left: 8px;
                    top: 8px;
                    color: #b52130;
                }
            }
        }
    }

    &.submit {
        .label {
            border: none;
        }
    }
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='number'],
input[type='color'],
textarea {
    border: 1px solid #cccccc;
    padding: 6px 4px;
    outline: none;
    border-radius: 2px;
    font: 13px Helvetica, Arial, sans-serif;
    color: #444444;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #ffffff;

    &:focus {
        border: 1px solid #aaaaaa;
        color: #444444;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    &.select2-input {
        width: 100%;
        margin: 0;
    }
}

select {
    padding: 0;
}

// --------------------------------------------------------------------------

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    div.field {
        input[type=file],
        select {
            width: 251px;
        }
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    div.field {
        span {
            &.label {
                width: 100px;
            }

            &.input {
                margin-left: 135px;
            }
        }
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    div.field {
        &.checkbox,
        &.radio {
            label {
                &:first-of-type {
                    .label {
                        display: block;
                    }
                }

                .label {
                    display: none;
                }
            }
        }

        span {
            &.label {
                display: block;
                float: none;
                width: 100%;
                text-align: left;
                border: none;
                margin: 0;
                padding: 0;
                padding-bottom: 5px;
            }

            &.input {
                margin-left: 0;

                &.with-tip {
                    padding-right: 0;

                    .tip {
                        top: -35px;
                    }
                }
            }
        }

        &.date-picker {
            padding-bottom: 20px;

            select {
                width: 64px;
            }
        }

        &.multiimage {
            ul.filelist {
                clear: left;
            }
        }

        &.error {
            span {
                &.input.with-tip {
                    padding-right: 0;
                }
            }
        }
    }
}

// --------------------------------------------------------------------------

//  Prefixed inputs
div.nails-prefixed {
    box-sizing: border-box;
    position: relative;
    padding: 0;

    .nails-prefix {
        box-sizing: border-box;
        width: 30px;
        left: 1px;
        top: 1px;
        bottom: 1px;
        background: #e7e6e8;
        line-height: 30px;
        font-weight: bold;
        position: absolute;
        text-align: center;
    }

    .nails-prefixed {
        width: 100% !important;
        box-sizing: border-box !important;
        padding-left: 35px;
    }

    &.error {
        .nails-prefixed {
            border-color: #b52130;
        }
    }
}

// --------------------------------------------------------------------------

//  jQuery UI overrides
div.ui-datepicker-title {
    select {
        display: inline-block;
    }
}

// --------------------------------------------------------------------------

@keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}
