/* --------------------------------------------------------------
   Layout
-------------------------------------------------------------- */

$header-height: 45px;
$sidebar-width-lg: 230px;
$sidebar-width-md: 180px;
$sidebar-icon-width: 25px;
$shortcut-width: $header-height - 17px;
$shortcut-height: $header-height - 17px;

body {
    position: relative;
    font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
    line-height: 1.75em;

    & > .background {
        position: fixed;
        background: #fafafa;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0;
        margin: 0;
        z-index: 0;

        .sidebar {
            width: $sidebar-width-lg + 1;
            height: 100%;
        }
    }

    & > .header {
        z-index: 3;
        // height: $header-height;
        position: fixed;
        top: 0;
        left: $sidebar-width-lg + 1;
        right: 0;
        background: rgba(239, 239, 239, 0.9);
        border-bottom: 1px solid #ccc;
        @include drop-shadow();

        .app-name {
            height: $header-height;
            margin: 0;
            padding: 0;
            padding-left: 10px;
            line-height: $header-height;
            font-size: 1.4em;
            font-weight: bold;

            a {
                &:link,
                &:visited {
                    color: #ccc;
                    text-decoration: none;
                }

                &:hover {
                    color: #fff;
                }
            }

            #mobileMenuBurger {
                border: 1px solid #ccc;
                padding: 0.5em;
                font-size: 0.55em;
                background: #fff;
                position: relative;
                top: -0.3em;
                left: -0.3em;
                @include rounded(2px);
                display: none;
            }
        }

        .user-shortcuts {
            position: absolute;
            right: 0;
            top: 0;
            padding-right: 10px;
            height: $header-height;

            .shortcut {
                display: inline-block;
                min-width: $shortcut-width;
                height: $shortcut-width;
                margin: 5px;
                margin-top: (($header-height - $shortcut-height) / 2) - 1;
                border: 1px solid #ccc;
                background: #fff;
                float: right;
                @include rounded($shortcut-height / 2);
                text-align: center;
                font-size: 1.25em;
                line-height: $shortcut-width - 1px;

                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;

                    span {
                        @include opacity(0.5);
                    }

                    &:hover {
                        span {
                            @include opacity(1);
                        }
                    }

                    &:active,
                    &:focus {
                        outline: none;
                    }
                }

                &.loggedin-as {
                    font-size: 1em;

                    img {
                        width: auto;
                        height: $shortcut-height - 2;
                        width: $shortcut-width - 2;
                        @include rounded(50%);
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }

        #mobileMenu {
            display: none;
            overflow: auto;
            padding: 0;
            max-height: 0;
            background: #f9f9f9;
            transition: max-height 0.5s;

            > .menuItems {
                margin: 0;

                > li {
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid #ccc;

                    .moduleName {
                        font-weight: bold;
                        padding: 0.5em;
                        display: block;
                    }

                    ul {
                        li {
                            margin: 0;
                            padding: 0;

                            a {
                                display: block;
                                padding: 0.35em;

                                &:hover {
                                    text-decoration: none;
                                    background: #ccc;
                                }
                            }
                        }
                    }

                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    & > .sidebar {
        z-index: 2;
        width: $sidebar-width-lg;
        position: absolute;
        top: 0;
        left: 0;

        ul.modules {
            li {
                &.module,
                &.sort-placeholder {
                    padding: 0;
                    margin: 0;
                }

                &.module.ui-sortable-helper {
                    .box {
                        h2 {
                            cursor: move !important; /* fallback if grab cursor is unsupported */
                            cursor: grabbing !important;
                            cursor: -moz-grabbing !important;
                            cursor: -webkit-grabbing !important;

                            .handle {
                                cursor: move !important; /* fallback if grab cursor is unsupported */
                                cursor: grabbing !important;
                                cursor: -moz-grabbing !important;
                                cursor: -webkit-grabbing !important;
                                @include opacity(1);
                            }
                        }
                    }
                }

                &.sort-placeholder {
                    background: #fff;
                }

                &:last-of-type {
                    .box {
                        border-bottom: 0;
                    }
                }
            }
        }

        #admin-nav-reset-buttons {
            a {
                text-decoration: none;
                display: block;
                padding: 0 0.5em;
                background: #404345;
                color: #aaa;
                opacity: 0.15;
                font-size: 0.8em;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .no-modules {
            display: none;
            text-align: center;
            font-size: 1.25em;
            line-height: 1.25em;
            padding: 1em;
        }

        .box {
            margin-bottom: 3px;

            h2 {
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                margin-bottom: 0;
                padding: 10px 12px 10px 12px;
                color: #fff;
                font-weight: bold;
                position: relative;

                .icon {
                    display: inline-block;
                    font-size: 1.25em;
                    margin-right: 0.25em;
                    text-align: center;
                    top: 10px;
                    position: absolute;
                    left: 5px;
                    width: $sidebar-icon-width;

                    .handle {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;
                        font-weight: 700;
                        @include opacity(0);

                        &:hover {
                            @include opacity(1);
                            cursor: move; /* fallback if grab cursor is unsupported */
                            cursor: grab;
                            cursor: -moz-grab;
                            cursor: -webkit-grab;
                        }

                        &:active {
                            cursor: move !important; /* fallback if grab cursor is unsupported */
                            cursor: grabbing !important;
                            cursor: -moz-grabbing !important;
                            cursor: -webkit-grabbing !important;
                        }
                    }
                }

                .module-name {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    margin-left: $sidebar-icon-width;
                    margin-right: 15px;
                }

                .toggle {
                    position: absolute;
                    left: $sidebar-icon-width + 10;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    border-bottom: 0;

                    span.toggler {
                        position: absolute;
                        right: 6px;
                        top: 10px;
                        color: #fff;
                        text-decoration: none;
                        font-weight: normal;
                        font-size: 9px;
                        padding: 0 4px;
                        background: #333;
                        border-radius: 4px;
                        -moz-border-radius: 4px;
                        -webkit-border-radius: 4px;
                        text-align: center;

                        span {
                            display: none;
                        }
                    }
                }
            }

            .box-container {
                overflow: hidden;
            }

            ul {
                padding: 0;
                margin: 0;
                background: #fff;

                li {
                    margin: 0;
                    list-style: none;
                    border-bottom: 1px dotted #efefef;
                    position: relative;

                    a {
                        display: block;
                        padding: 7px;
                        border-bottom: 0;

                        &:link,
                        &:visited {
                            color: #000;
                            text-decoration: none;
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    &.current {
                        background: #f4f4f4;
                    }

                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 5px;
                    }

                    &:hover {
                        background: #fafafa;
                    }
                }
            }

            .indicator {
                float: right;
                margin-left: 6px;
                background: #ccc;
                padding: 0 4px;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                font-size: 0.9em;
                color: #333;
                cursor: default;

                &.info {
                    background: #5bc0de;
                    color: #fff;
                }

                &.danger {
                    background: #d9534f;
                    color: #fff;
                }

                &.success {
                    background: #5cb85c;
                    color: #fff;
                }

                &.warning {
                    background: #f0ad4e;
                    color: #fff;
                }
            }

            &.open {
                h2 {
                    .toggle {
                        span.toggler {
                            span.close {
                                display: block;
                            }
                        }
                    }
                }
            }

            &.closed {
                h2 {
                    .toggle {
                        span.toggler {
                            span.open {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .nav-search {
            margin: 10px;
            padding: 7px 11px;

            input {
                padding: 0;
                width: 100%;
                border: 0;
                background: transparent;
                color: #fff;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    & > .content {
        z-index: 1;
        margin: 0;
        position: absolute;
        top: $header-height;
        left: $sidebar-width-lg;
        right: 0;

        .content_inner {
            padding: 1.5em;
            margin-bottom: 1em;

            .page-title {
                margin-bottom: 1.5em;
                border-bottom: 1px solid #efefef;

                h1 {
                    font-family: inherit;
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 15px;
                    margin: 0;
                    padding: 0.67em 0;
                }

                .header-buttons {
                    float: right;
                    position: relative;
                    top: -3px;

                    .fa {
                        margin-right: 0.4em;
                    }
                }
            }

            .page-body {
                position: relative;
            }

            h2 {
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                font-weight: bold;
                margin-top: 2em;
                margin-bottom: 0.75em;
                border: 1px solid #dadada;
                border-bottom: 2px solid #e3e3e3;
                padding: 0.5em;
                background-color: rgba(355, 355, 355, 0.5);

                &:first-child {
                    margin-top: 0;
                }
            }

            h3,
            h4,
            h5,
            h6 {
                font-weight: bold;
                margin: 1em 0;
                padding-bottom: 1em;
                border-bottom: 1px solid #eee;
            }

            hr {
                clear: none;
            }

            footer {
                border-top: 1px dotted #ccc;
                margin-top: 1em;
                padding: 0.5em 0;
                display: block;
                color: #666;
                position: absolute;
                height: 50px;
                left: 1.5em;
                right: 1.5em;
                box-sizing: border-box;

                small {
                    a {
                        color: inherit;
                        text-decoration: none;
                        border-bottom: 1px dotted;
                        border-color: #aaa;
                    }
                }
            }
        }
    }

    &.no-modules {
        & > .sidebar {
            .no-modules {
                display: block;
            }
        }
    }

    &.blank {
        .page-title {
            h1 {
                font-size: 1.5em;
                font-weight: bold;
                margin: 0;
                margin-bottom: 1em;
                border-bottom: 1px solid #f5ebeb;
                padding-bottom: 0.7em;

                .header-buttons {
                    float: right;
                    position: relative;
                    top: -3px;
                }
            }
        }
    }

    &.noScroll {
        overflow: hidden;
    }
}

// --------------------------------------------------------------------------

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    body {
        & > .background {
            .sidebar {
                width: $sidebar-width-md + 1;
            }
        }

        & > .header {
            left: $sidebar-width-md + 1;
        }

        & > .sidebar {
            width: $sidebar-width-md;
        }

        & > .content {
            left: $sidebar-width-md + 10;
        }
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 767px) {
    body {
        .sidebar {
            display: none;
        }

        & > .header {
            left: 0;

            .app-name {
                #mobileMenuBurger {
                    display: inline;
                }
            }

            #mobileMenu {
                display: block;
            }
        }

        & > .content {
            left: 0;
        }
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    body {
        & > .header {
            .app-name {
                a {
                    display: none;
                }
            }
        }
    }
}
