/* --------------------------------------------------------------
   Miscallaneous Elements
-------------------------------------------------------------- */

.login-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    border: 1px solid;
    margin-top: -2px;
    margin-right: 1em;
}

/* --------------------------------------------------------------
   CKEditor - if no JS style the textarea nicely
   Duplicated in common/_nails_default.less
-------------------------------------------------------------- */
textarea.ckeditor {
    width: 99%;
    height: 150px;
}

/* --------------------------------------------------------------
   Corrections/defaults for select2's
-------------------------------------------------------------- */

//  Overriding the styles set by admin's default form styles
//  Note: Keep this updated should select2 be upgraded

.select2-container {
    width: 100%;
}

.select2-drop {
    .select2-results {
        li {
            margin: 0;

            &.select2-disabled {
                background: inherit;
                color: #bbbbbb;

                .select2-result-label {
                    cursor: not-allowed;
                }
            }
        }
    }
}

/* --------------------------------------------------------------
   Search Box
-------------------------------------------------------------- */
.search {
    padding: 10px;
    position: relative;
    border: 1px solid #eaeaea;
    margin-bottom: 1em;
    background: #f5f5f5;

    &.noOptions {
        .search-text {
            margin-bottom: 0;
        }
    }

    .mask {
        background: rgba(255, 255, 255, 0.7);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        text-align: center;
        display: none;

        b {
            position: relative;
            top: 50%;

            /**
             * Animate; we can't use fontAwesome's animate class because it
             * overwrites out transform property here.
             */

            -webkit-animation: search-spin 1s infinite linear;
            animation: search-spin 1s infinite linear;
        }
    }

    form {
        margin: 0;
    }

    .search-text {
        background: #ffffff;
        padding: 0 6px;
        border: 1px solid #cccccc;
        @include rounded(4px);
        @include drop-shadow(0px, 0px, 3px);
        margin-bottom: 1em;

        input[type=text] {
            display: block;
            margin-bottom: 0;
            width: 100%;
            padding: 6px 0;
            border: 0;
        }

        input[type=text]:focus {
            @include drop-shadow(0px, 0px, 0px, 0);
        }
    }

    hr {
        margin: 7px 0;
    }

    .select2 {
        width: auto;
        min-width: 200px;
        margin: 0 0.5rem;

        + .select2 {
            margin-left: 0;
        }

        &.filter {
            &--sort {
                min-width: 200px;
            }

            &--order {
                min-width: 75px;
            }

            &--per-page {
                min-width: 50px;
            }
        }
    }

    .filterGroup {
        border: 1px solid #eaeaea;
        background: #fefefe;
        display: inline-block;
        padding: 0.25em;
        margin: 0.1em;
        @include rounded(2px);

        .filterLabel {
            margin: 0 0.65em 0 0.5em;
        }

        .filterOption {
            border: 1px solid #eaeaea;
            background: #eeeeee;
            padding: 0.2em 0.35em;
            margin: 2px;
            display: inline-block;
            margin-right: 0.25em;
            cursor: pointer;
            @include rounded(2px);

            &.checked {
                background: #7c7c7c;
                color: #ffffff;
            }

            &:last-of-type {
                margin-right: 0;
            }

            input {
                margin-right: 0.25em;
            }
        }

        &.dropdown {
            padding: 0.5rem;

            .filterLabel {
                position: relative;
                top: 0.1rem;
            }

            .select2 {
                margin-right: 0;
            }
        }
    }

    .filterText {
        padding-right: 1em;
        position: relative;
        top: 0.2rem;

        .filter {
            &--sort {
                top: -0.1rem;
            }

            &--order {
                top: -0.1rem;
            }

            &--per-page {
                top: -0.1rem;
            }
        }
    }

    .actions {
        float: right;

        .awesome {
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@-webkit-keyframes search-spin {
    0% {
        -webkit-transform: translateY(-50%) rotate(0deg);
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-50%) rotate(359deg);
        transform: translateY(-50%) rotate(359deg);
    }
}

@keyframes search-spin {
    0% {
        -webkit-transform: translateY(-50%) rotate(0deg);
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-50%) rotate(359deg);
        transform: translateY(-50%) rotate(359deg);
    }
}

/* --------------------------------------------------------------
   Pagination
-------------------------------------------------------------- */

.pagination {
    clear: both;

    small,
    ul {
        margin: 15px 0;
        float: left;
    }

    ul {
        float: right;

        li.page {
            display: inline;
            margin-left: 5px;

            a,
            span.current {
                border: 1px solid #cfcfcf;
                padding: 5px 8px;
                @include rounded(3px);
                @include nifty-drop-shadow();
                text-decoration: none;
                background: #efefef;
                font-weight: bold;
            }

            span.current {
                background: #ffffff;
                border: 1px solid #000000;
            }

            a {
                &:hover {
                    background: #f4f4f4;
                }

                &:active {
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
}

/* --------------------------------------------------------------
   Elements
-------------------------------------------------------------- */

hr {
    border: none;
    width: 100%;
    margin: 20px auto 16px auto;
    border-bottom: 1px solid #efefef;
}

.search-text {
    font-size: 10px;
    text-align: center;
}

.inline_indicator {
    font-size: 9px;
    padding: 4px;
    background-color: #ededed;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-right: 3px;
    color: #333333;
}

/* --------------------------------------------------------------
   Badges - copying Bootstrap
-------------------------------------------------------------- */

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 0.5em;
}

/* --------------------------------------------------------------
   Tipsy's - make 'em fatter
-------------------------------------------------------------- */

.tipsy-inner {
    padding: 15px;
    font-size: 1.2em;
}

.tipsy-fix {
    display: inline-block
}

/* --------------------------------------------------------------
   Fancybox, blurred background
-------------------------------------------------------------- */

body {
    > .header,
    > .sidebar,
    > .content,
    > .background {
        transition: 0.25s filter linear;
    }

    &.modal-open {
        > .header,
        > .sidebar,
        > .content,
        > .background {
            filter: blur(2px);
        }
    }
}

/* --------------------------------------------------------------
   Floating controls
-------------------------------------------------------------- */

.admin-floating-controls {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(230, 230, 230, 0.9);
    backdrop-filter: blur(2px);
    z-index: 999;
}
