/* --------------------------------------------------------------
   Tables
-------------------------------------------------------------- */
$table-th-padding-top: 5px;
$table-th-padding-right: 10px;
$table-th-padding-bottom: 5px;
$table-th-padding-left: 10px;
$table-td-padding-top: 8px;
$table-td-padding-right: 10px;
$table-td-padding-bottom: 8px;
$table-td-padding-left: 10px;
table {
    width: 100%;
    border: 1px solid #efefef;
    margin-bottom: 1em;

    thead,
    tfoot {
        tr {
            th {
                font-size: 11px;
                font-weight: bold;
                text-align: left;
                padding: $table-th-padding-top $table-th-padding-right $table-th-padding-bottom $table-th-padding-left;
                text-transform: uppercase;
                color: #ffffff;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                img {
                    float: none !important;
                    padding: 0 0 1px 4px !important;
                    vertical-align: baseline;
                }

                a {
                    &:link,
                    &:vsited {
                        text-decoration: none;
                        color: inherit;
                    }
                }

                &.user,
                &.date,
                &.datetime,
                &.actions,
                &.boolean {
                    text-align: center;
                }

                &.user {
                    width: 200px;
                }

                &.date,
                &.datetime {
                    width: 150px;
                }
            }
        }
    }

    tbody,
    tfoot {
        tr {
            td {
                background: #ffffff;
                border-bottom: 1px solid #efefef;
                border-right: 1px solid #efefef;
                vertical-align: middle;
                padding: $table-td-padding-top $table-td-padding-right $table-td-padding-bottom $table-td-padding-left;

                &:last-of-type {
                    border-right: 0;
                }

                &.action:empty:before,
                &.actions:empty:before {
                    content: 'No Actions';
                    color: #cccccc;
                }

                small {
                    display: block;
                    line-height: 1.75em;
                }

                a {
                    &:not(.btn) {
                        &:link,
                        &:visited {
                            color: #000000;
                            text-decoration: none;
                        }

                        &:hover {
                            color: #999999;
                        }
                    }

                    &.btn {
                        margin-right: 0.5em;

                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }

                ul {
                    list-style: circle;
                    margin-left: 12px;

                    li {
                        margin: 0;
                    }
                }

                input[type=text],
                input[type=number],
                input[type=email],
                input[type=password],
                input[type=url],
                textarea {
                    margin-bottom: 0;
                    width: 100%;

                    & + input[type=text],
                    & + input[type=number],
                    & + input[type=email],
                    & + input[type=password],
                    & + input[type=url],
                    & + textarea {
                        margin-top: 0.5rem;
                    }
                }

                .no-data,
                .blank {
                    color: #cccccc;
                }

                &.danger {
                    background: $color-danger-background !important;
                    color: $color-danger-text !important;
                }

                &.success {
                    background: $color-success-background !important;
                    color: $color-success-text !important;
                }

                &.info {
                    background: $color-info-background !important;
                    color: $color-info-text !important;
                }

                &.warning {
                    background: $color-warning-background !important;
                    color: $color-warning-text !important;
                }

                &.no-data {
                    height: 75px;
                    text-align: center;
                    color: #aaaaaa;
                    text-transform: uppercase;
                }

                &.user-cell {
                    position: relative;
                    min-width: 200px;
                    min-height: 35px;

                    img {
                        position: absolute;
                        left: $table-td-padding-left;
                        padding: 3px;
                        border: 1px solid #eeeeee;
                        background: #ffffff url(../img/loader/10px-FFFFFF.gif) center no-repeat;
                        width: 35px;
                        height: 35px;
                        @include rounded(3px);
                        margin-top: 5px;
                    }

                    span {
                        &.user-data {
                            margin-left: 35px + $table-td-padding-left + 5px;
                            display: block;
                        }
                    }
                }

                &.datetime {
                    min-width: 150px;
                }

                &.boolean {
                    text-align: center;
                    min-width: 70px;
                }

                &.user-cell,
                &.datetime {
                    &.no-data {
                        height: auto;
                        text-transform: none;
                        text-align: left;
                    }
                }

                &.indentosaurus {
                    position: relative;

                    .indentor {
                        display: block;
                        position: absolute;
                        left: 12px;
                        top: 16px;
                        height: 7px;
                        width: 7px;
                        @include rounded(7px);
                        background: #ffffff;
                        border: 1px solid #cccccc;

                        &:nth-child(2) {
                            top: 24px;
                        }

                        &:nth-child(3) {
                            top: 32px;
                        }

                        &:nth-child(4) {
                            top: 40px;
                        }

                        &:nth-child(5),
                        &:nth-child(6),
                        &:nth-child(7),
                        &:nth-child(8) {
                            top: 40px;
                            background: #cccccc;
                        }
                    }

                    &.indented {
                        .indentor-content {
                            padding-left: 20px;
                        }
                    }
                }

                &.actions {
                    text-align: center;

                    a.awesome {
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }

                &.field {
                    &--locale {
                        font-size: 1.5rem;
                        width: 50px;
                        text-align: center;
                    }
                }
            }

            &.danger {
                td {
                    background: $color-danger-background !important;
                    color: $color-danger-text !important;
                }
            }

            &.success {
                td {
                    background: $color-success-background !important;
                    color: $color-success-text !important;
                }
            }

            &.info {
                td {
                    background: $color-info-background !important;
                    color: $color-info-text !important;
                }
            }

            &.warning {
                td {
                    background: $color-warning-background !important;
                    color: $color-warning-text !important;
                }
            }

            &:hover {
                td {
                    background: #f6f6f6;

                    &.danger {
                        background: $color-danger-background !important;
                    }

                    &.success {
                        background: $color-success-background !important;
                    }

                    &.info {
                        background: $color-info-background !important;
                    }

                    &.warning {
                        background: $color-warning-background !important;
                    }
                }
            }

            &:last-child {
                td {
                    border-bottom: 0 !important;
                }
            }

            &:nth-child(even) {
                td {
                    background: #f9f9f9;
                }
            }
        }

        & + tbody {
            td[colspan] {
                border-top: 1px solid #efefef;
            }
        }
    }
}

/* --------------------------------------------------------------
   Tables within Bootstrap panels
-------------------------------------------------------------- */

.panel {
    > table,
    > .table-responsive > table {
        border: none;
        margin: 0;

        > :last-child {
            > tr:last-child {
                td:first-child {
                    border-bottom-left-radius: 3px;
                }

                td:last-child {
                    border-bottom-right-radius: 3px;
                }
            }
        }
    }
}
