/* --------------------------------------------------------------
   Text
-------------------------------------------------------------- */

p {
    margin: 0 0 0.75em 0;
}

small {
    font-size: 0.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
}

.text-muted {
    color: #bbb;
}

.text-success {
    color: $color-success-text;
}

.text-danger {
    color: $color-danger-text;
}

.text-center {
    text-align: center;
}
