/* --------------------------------------------------------------

    VARIABLES

    Variables / constants used throughout the stylesheets

-------------------------------------------------------------- */

$color-blue: #00b3df;
$color-green: #84a717;
$color-orange: #fd6925;
$color-red: #d10000;
$color-black: #333;
$color-grey: #888;

//  contextual colours
$color-neutral-background: #efefef;
$color-neutral-text: #444;
$color-neutral-border: #ccc;

$color-danger-background: #f2dede;
$color-danger-text: #a94442;
$color-danger-border: #ebccd1;

$color-success-background: #dff0d8;
$color-success-text: #3c763d;
$color-success-border: #d6e9c6;

$color-warning-background: #fcf8e3;
$color-warning-text: #8a6d3b;
$color-warning-border: #faebcc;

$color-info-background: #d9edf7;
$color-info-text: #31708f;
$color-info-border: #bce8f1;
