.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 3;
    overflow: auto;
    justify-content: center;
    align-items: center;
    display: none;

    &--open {
        display: flex;
    }

    &__inner {
        margin: 1rem;
        padding: 1rem;
        background: #fff;
        min-width: 300px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        position: relative;
        overflow-y: auto;
        max-height: 90vh;
    }

    &__close {
        border: 1px solid #e2e2e2;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 19px;
        color: #aaa;
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        transition: border-color 0.5s;

        &:hover {
            border: 1px solid #aaa;
        }
    }

    &__title {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: bold;
        border-bottom: 1px solid #ececec;
        padding-bottom: 0.5rem;
        padding-right: 2rem;
    }

    &__body {
        > *:last-child {
            margin-bottom: 0;
        }
    }
}
