ul.tabs {
    border-bottom: 1px solid #cecece;
    margin-bottom: 0;
    position: relative;

    li.tab {
        margin-bottom: 0;
        margin-left: 5px;
        display: inline-block;

        a {
            padding: 2px 7px;
            display: block;
            border: 1px solid #cecece;
            background: #efefef;
            position: relative;
            left: 13px;
            margin-top: 7px;
            top: 1px;
            text-decoration: none;
            text-align: center;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-top-left-radius: 3px;
            min-height: 24px;
            box-sizing: border-box;

            &.disabled {
                background: #fafafa;
                color: #c2c2c2;
                cursor: default;
                border-color: #f0f0f0;
                border-bottom-color: #cecece;
            }

            &.error {
                padding-left: 30px !important;

                &:before {
                    font-family: "Font Awesome 5 Free";
                    content: '\f057';
                    display: block;
                    position: absolute;
                    left: 7px;
                    top: 3px;
                    color: #b52130;
                }
            }
        }

        &.active {
            a {
                background: #ffffff;
                border-bottom: 1px solid #ffffff;
                font-weight: bold;
                margin-top: 2px;
                padding-top: 6px;

                &.disabled {
                    color: #000000;
                    border-color: #cecece;
                    border-bottom-color: #ffffff;
                }

                &.error {
                    &:before {
                        top: 6px;
                    }
                }
            }
        }
    }
}

section.tabs {
    position: relative;
    top: -1px;
    margin-bottom: 1em;

    div.tab-page {
        border: 1px solid #cecece;
        border-top-color: transparent;
        display: none;
        background: #ffffff;
        background-clip: content-box;

        > p,
        > .alert,
        > .alert,
        > .padded,
        > fieldset,
        > form,
        > ul:not(.tabs) {
            margin: 1em;

            & + & {
                margin-top: 0;
            }
        }

        > ul.tabs {
            margin-left: 1em;
            margin-right: 1em;
            margin-top: 1em;
        }

        > section.tabs {
            margin-left: 1em;
            margin-right: 1em;
            margin-bottom: 1em;
        }

        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6 {
            background: #f5f5f5;
            border: none;
            border-bottom: 1px solid #e5e5e5;
            padding: 0.75rem;
            margin: 0;
            position: sticky;
            top: 45px;
            z-index: 999;
        }

        table {
            margin: 0;
        }

        //  Tabs within tabs should be slightly smaller.
        ul.tabs {
            li.tab {
                a {
                    margin-top: 0;
                    padding: 2px 7px;

                    &.error {
                        background-position: 2px 2px !important;
                        padding-left: 25px !important;

                        &:before {
                            top: 3px;
                            left: 5px;
                        }
                    }
                }

                &.active {
                    a {
                        margin-top: -2px;
                        padding-top: 4px;

                        &.error {
                            background-position: 2px 2px !important;
                            padding-left: 25px !important;

                            &:before {
                                top: 5px;
                            }
                        }
                    }
                }
            }
        }

        &.active {
            display: block;
        }
    }
}

fieldset {
    > ul.tabs {
        margin: 0;
        background-color: #e8e8e8;
    }

    > section.tabs {
        &:last-child {
            margin-bottom: 0;
        }

        > .tab-page {
            border: 0;
            margin: 0;

            > form {
                margin: 0;

                > p {
                    margin: 1em;
                }
            }
        }
    }
}
